.filter-date {
  height: 80%;
  width: 80%;
}

.date-input {
  color: white;
  font-size: 20px;
  padding: 5% 5%;
  border-radius: 15px;
  border: hidden;
  background: #0c489c;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../Images/calendar.png); 
  background-repeat: no-repeat;
  height: 20px;
  background-size: contain;
}