.search-box {
  font-family: Courier, "Lucida Console", monospace, cursive;
  background: #0c489c;
  height: 20px;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.search-box:hover > .search-text{
  width: 200px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background-image: url(../Images/search_icon.png);
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
  color: white;
}

.search-btn {
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(../Images/search_icon.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;  
}

#inputID::placeholder {
  color: white;
  opacity: 0.5;
}