.main-header {
  font-size: 60px;
  font-family: Courier, "Lucida Console", monospace, cursive;
  color: white;
  text-shadow: 1px 1px 15px white;
  text-align: center;
}

.background { 
  min-height: 100vh;
  max-width: 100%;
  background-image: url(./components/Images/background1.webp);
  /*background-image: url(./components/Images/background3.jpg);*/
  /*background-image: url(./components/Images/background4.jpg);*/
  /*background-image: url(./components/Images/background2.jpg);*/
  background-size: cover;
}