.react-switch-checkbox {
  margin: 0;
  visibility: hidden;
}

.react-switch-label {
  position: relative;
  cursor: pointer;
  width: 90px;
  height: 45px;
  background: grey;
  border-radius: 90px;
  transition: background-color .2s;
}

.react-switch-button {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-label .react-switch-button {
  width: 38px;
  height: 38px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 50px;
}

.switch {
  display: flex;
}
