.functional {
  display: flex;
  margin-left: 1.5%;
  position: relative;
}

/* Tooltip container */
.tooltip {
  position: relative;
  margin-left: 2%;
}

/* Tooltip text */
.tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  /* Fade in tooltip */
  opacity: 0;
  bottom: 115%;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.more-info {
  font-family: Courier, "Lucida Console", monospace, cursive;
  text-align: center;
  height: 6vh;
  width: 50%;
  background-color: #0c489c;
  border-radius: 15px;
  border: hidden;
  cursor: pointer;  
  color: white;
}

::-webkit-scrollbar {
  scroll-behavior: smooth !important;
  width: 13px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border: 1px solid gray;
    border-radius: 10px !important;
    background: transparent;
    margin-top: 25px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #0c489c;
  outline: 1px solid white !important;
  border-radius: 20px !important;
}

.not-found {
  text-align: center;
  margin-top: 5%;
}

.not-found-description {
  color: steelblue;
  font-size: 40px;
  text-shadow: 1px 1px 2px white;
  font-family: Courier, "Lucida Console", monospace, cursive;
  margin-bottom: 1%;
}