.table_fixed_header{
  font-family: Courier, "Lucida Console", monospace, cursive;
  table-layout: fixed;
  border-collapse: collapse;
}

.table_container {
  overflow-y: 1;
  height: 80vh;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  overflow-x: hidden;
}
.table_container thead th {
  position: sticky;
  background: steelblue;
  color:#fff;
  font-size: 20px;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tbody{
  background-image: url("https://wallpaperaccess.com/full/2217435.jpg");
  overflow: auto;
  color: white;
}
td {
  border: 1px solid gray;
  padding: 0.5%;
  text-align: center;
  width: 5%;
}

.functional {
  display: flex;
}

/* Tooltip container */
.tooltip {
  position: relative;
  padding: 5px 0;
  border-radius: 6px;
  margin-right: 10%;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  align-items: center;
  border-radius: 6px;


  /* Position the tooltip text */
  position: absolute;


  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}